#!/usr/bin/make -f
#DH_VERBOSE=1

# Prevent setuptools/distribute from accessing the internet.
export http_proxy=http://127.0.0.1:9

# Use the setup.py to prepare the python modules for the
# python-univention-domain-join binary package.
%:
	dh $@ --with python2
